body {
  /* padding-top: 40px; */
  /* background-color: #f2f9ff; */
}

.form-input {
  margin-bottom: 30px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-200 {
  margin-bottom: 200px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap if the container can't fit them */
  width: 100%; /* Container takes full width */
}

.flex-item {
  flex: 1 1 15%; /* Flex-grow, flex-shrink and flex-basis set to ensure equal width and responsiveness */
  /* padding: 10px; Padding for some space inside the items */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  /* min-width: 150px; Minimum width before wrapping */
  /* text-align: center; Centers the text horizontally */
}
